In [11]:
import pandas as pd

In [12]:
df=pd.read_csv(r'Adamya 1 hr sheet(6.4.2019).csv')

In [13]:
df.head()

,Category,Date,Time,Carbs,Food taken,Respective Carbs,BG,BG after 1hr,Insulin
0,Breakfast,1/2/2019,7:05,60.90,", Cornflakes[ Serving Size= 100 g ] , indian...",", 84 * 0.25 , 11.5 * 0.9 , 8 * 0.3 , 8 * ...",325,334,5.5
1,Breakfast,1/3/2019,6:55,33.40,", Indian Plain Parantha (Medium) - Minimal Oi...",", 24 * 1.25 , 3.4 * 1.0",231,246,4.0
2,Breakfast,1/4/2019,6:40,46.75,", Buffalo Fresh Full Fat Milk[ Serving Size=...",", 10 * 1.0 , 23.1 * 0.5 , 84 * 0.3",194,313,4.0
3,Breakfast,1/5/2019,6:44,102.00,", Indian Roti With Ghee[ Serving Size=1 Roti...",", 21.5 * 2.0 , 59 * 1.0",107,145,4.0
4,Breakfast,2/2/2019,9:10,80.30,", Poha With Alu Veg[ Serving Size=1 katori...",", 49 * 1.5 , 3.4 * 2.0",209,126,5.0

In [14]:
df_modified = pd.DataFrame({'Carbs': df['Carbs'],
'Category':df['Category'],
'BG': df['BG'],
'BG after 2hrs': df['BG after 1hr'] ,
'Insulin': df['Insulin'] })

In [15]:
df_modified.head()

    Carbs   Category   BG  BG after 2hrs  Insulin
0   60.90  Breakfast  325            334      5.5
1   33.40  Breakfast  231            246      4.0
2   46.75  Breakfast  194            313      4.0
3  102.00  Breakfast  107            145      4.0
4   80.30  Breakfast  209            126      5.0

## ignore

In [8]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression

In [9]:
from sklearn import preprocessing

In [10]:
enc = preprocessing.OneHotEncoder()

In [12]:
df = pd.DataFrame({'Category': ['Breakfast','Lunch','Dinner']})
df_modified=pd.get_dummies(df_modified)

In [13]:
df_modified.head()

,Carbs,BG,BG after 2hrs,Insulin,Category_Breakfast,Category_Dinner,Category_Lunch
0,60.90,325,334,5.5,1,0,0
1,33.40,231,246,4.0,1,0,0
2,46.75,194,313,4.0,1,0,0
3,102.00,107,145,4.0,1,0,0
4,80.30,209,126,5.0,1,0,0

In [15]:
df_modified['Difference BG']=df_modified['BG']-df_modified['BG after 2hrs']

In [18]:
df_modified.head()

,Carbs,Insulin,Category_Breakfast,Category_Dinner,Category_Lunch,Difference BG
0,60.90,5.5,1,0,0,-9
1,33.40,4.0,1,0,0,-15
2,46.75,4.0,1,0,0,-119
3,102.00,4.0,1,0,0,-38
4,80.30,5.0,1,0,0,83

In [17]:
del df_modified['BG']
del df_modified['BG after 2hrs']

## end of ignore

## Breakfast

In [24]:
df_breakfast=df_modified[df_modified.Category == 'Breakfast']

In [25]:
df_breakfast = df_breakfast[df_breakfast['Carbs'] >10]

In [26]:
df_breakfast = df_breakfast[df_breakfast['Carbs'] <70]

In [27]:
df_breakfast.head()

   Carbs   Category   BG  BG after 2hrs  Insulin
0  60.90  Breakfast  325            334      5.5
1  33.40  Breakfast  231            246      4.0
2  46.75  Breakfast  194            313      4.0
5  67.12  Breakfast  141            119      4.5
6  49.06  Breakfast  200            285      4.5

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [29]:
y=df_breakfast['BG after 2hrs']

del df_breakfast['BG after 2hrs']

In [30]:
del df_breakfast['Category']

In [41]:
xTrain, xTest, yTrain, yTest = train_test_split(df_breakfast, y, test_size = 0.2, random_state = 89)

In [42]:
from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()
X_train_minmax = mm_scaler.fit_transform(xTrain)
X_testmin=mm_scaler.transform(xTest)

In [43]:
linearRegressor = LinearRegression()

In [44]:
linearRegressor.fit(X_train_minmax, yTrain)

LinearRegression()

In [45]:
linearRegressor.score(X_testmin,yTest)

0.5935294350556346

In [46]:
linearRegressor.coef_

array([  20.81982534,  266.20368774, -119.17815679])

## Lunch

In [47]:
df_lunch=df_modified[df_modified.Category == 'Lunch']

In [48]:
df_lunch = df_lunch[df_lunch['Carbs'] >10]

In [49]:
df_lunch = df_lunch[df_lunch['Carbs'] <70]

In [50]:
df_lunch.head()

    Carbs Category   BG  BG after 2hrs  Insulin
88  10.80    Lunch  195            166      5.5
91  42.62    Lunch  119            196      5.0
92  54.30    Lunch  212            186      5.5
93  21.50    Lunch   80            162      4.0
94  24.80    Lunch  163            187      5.0

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [52]:
y=df_lunch['BG after 2hrs']

del df_lunch['BG after 2hrs']

In [53]:
del df_lunch['Category']

In [70]:
xTrain, xTest, yTrain, yTest = train_test_split(df_lunch, y, test_size = 0.2, random_state = 11)

In [71]:
from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()
X_train_minmax = mm_scaler.fit_transform(xTrain)
X_testmin=mm_scaler.transform(xTest)

In [72]:
linearRegressor = LinearRegression()

In [73]:
linearRegressor.fit(X_train_minmax, yTrain)

LinearRegression()

In [74]:
linearRegressor.score(X_testmin,yTest)

0.5841436848242192

In [75]:
linearRegressor.coef_

array([ -8.59781717, 205.52634885,   5.46532327])

## Dinner

In [16]:
df_dinner=df_modified[df_modified.Category == 'Dinner']

In [17]:
df_dinner = df_dinner[df_dinner['Carbs'] >10]

In [18]:
df_dinner = df_dinner[df_dinner['Carbs'] <70]

In [19]:
df_dinner.head()

     Carbs Category   BG  BG after 2hrs  Insulin
178  50.32   Dinner   79             54      4.5
180  44.85   Dinner   65             53      2.0
181  15.60   Dinner  134            103      3.5
182  44.85   Dinner  117             78      2.0
183  21.30   Dinner   67            122      3.0

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [21]:
y=df_dinner['BG after 2hrs']

del df_dinner['BG after 2hrs']

In [22]:
del df_dinner['Category']

In [23]:
xTrain, xTest, yTrain, yTest = train_test_split(df_dinner, y, test_size = 0.2, random_state = 7)

In [24]:
from sklearn import preprocessing
mm_scaler = preprocessing.MinMaxScaler()
X_train_minmax = mm_scaler.fit_transform(xTrain)
X_testmin=mm_scaler.transform(xTest)

In [25]:
linearRegressor = LinearRegression()

In [26]:
linearRegressor.fit(X_train_minmax, yTrain)

LinearRegression()

In [27]:
linearRegressor.score(X_testmin,yTest)

0.7292844432837161

In [28]:
linearRegressor.coef_

array([-39.41406816, 159.79238517, -52.20047742])